.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.995117;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.766602;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc3{text-shadow:-0.015em 0 rgb(71,184,199),0 0.015em rgb(71,184,199),0.015em 0 rgb(71,184,199),0 -0.015em  rgb(71,184,199);}
.sc2{text-shadow:-0.015em 0 rgb(146,208,80),0 0.015em rgb(146,208,80),0.015em 0 rgb(146,208,80),0 -0.015em  rgb(146,208,80);}
.sc1{text-shadow:-0.015em 0 rgb(247,195,49),0 0.015em rgb(247,195,49),0.015em 0 rgb(247,195,49),0 -0.015em  rgb(247,195,49);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc3{-webkit-text-stroke:0.015em rgb(71,184,199);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(146,208,80);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(247,195,49);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.351875px;}
._3{width:2.446128px;}
._2{width:3.797881px;}
._4{width:64.100000px;}
._0{width:79.300000px;}
.fc5{color:rgb(250,143,48);}
.fc4{color:rgb(247,195,49);}
.fc1{color:rgb(146,208,80);}
.fc0{color:rgb(255,255,255);}
.fc3{color:rgb(71,184,199);}
.fc2{color:rgb(243,77,71);}
.fs6{font-size:72.000000px;}
.fs5{font-size:74.000000px;}
.fs1{font-size:80.000000px;}
.fs4{font-size:82.000000px;}
.fs3{font-size:100.000000px;}
.fs2{font-size:136.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y28{bottom:39.551994px;}
.y42{bottom:65.389473px;}
.y68{bottom:67.151932px;}
.y19{bottom:81.551994px;}
.y41{bottom:86.989471px;}
.y67{bottom:88.751938px;}
.y2f{bottom:97.317650px;}
.y40{bottom:108.589470px;}
.y66{bottom:110.351944px;}
.y4f{bottom:114.002792px;}
.y4e{bottom:135.602793px;}
.y25{bottom:140.351997px;}
.y2e{bottom:141.933140px;}
.y18{bottom:143.951996px;}
.y59{bottom:146.079910px;}
.y43{bottom:149.844372px;}
.y65{bottom:153.551956px;}
.y24{bottom:161.951996px;}
.y2d{bottom:163.533140px;}
.y17{bottom:165.552002px;}
.y58{bottom:167.679901px;}
.y2{bottom:171.429853px;}
.y2c{bottom:178.097191px;}
.y23{bottom:183.551994px;}
.y16{bottom:187.152000px;}
.y3f{bottom:187.888165px;}
.y47{bottom:188.897196px;}
.y57{bottom:189.279892px;}
.y64{bottom:196.751968px;}
.y4d{bottom:198.011780px;}
.y2b{bottom:199.697197px;}
.y15{bottom:208.751999px;}
.y56{bottom:210.879883px;}
.y1{bottom:212.711651px;}
.y20{bottom:213.551994px;}
.y63{bottom:218.351974px;}
.y4c{bottom:220.266579px;}
.y2a{bottom:221.951996px;}
.y3e{bottom:223.325634px;}
.yb{bottom:224.229874px;}
.y14{bottom:230.351997px;}
.y62{bottom:239.951981px;}
.y10{bottom:240.012461px;}
.y4b{bottom:241.866581px;}
.y29{bottom:243.551994px;}
.ya{bottom:245.829865px;}
.y35{bottom:246.619019px;}
.y46{bottom:251.896637px;}
.y13{bottom:251.951996px;}
.y55{bottom:254.079865px;}
.y3d{bottom:254.806896px;}
.y61{bottom:261.551987px;}
.y4a{bottom:262.811783px;}
.y9{bottom:267.429863px;}
.y34{bottom:268.219025px;}
.y3{bottom:269.470753px;}
.y45{bottom:273.496635px;}
.y12{bottom:273.551994px;}
.y1f{bottom:273.552010px;}
.y27{bottom:282.966095px;}
.y49{bottom:284.411783px;}
.y8{bottom:289.029861px;}
.yf{bottom:292.629860px;}
.y3c{bottom:296.806896px;}
.y54{bottom:297.279861px;}
.y26{bottom:304.566093px;}
.y60{bottom:304.751999px;}
.y33{bottom:311.419037px;}
.ye{bottom:314.229858px;}
.y1e{bottom:316.751984px;}
.y53{bottom:318.879860px;}
.y5f{bottom:326.352005px;}
.y7{bottom:332.229858px;}
.y44{bottom:335.829781px;}
.yd{bottom:335.829857px;}
.y1d{bottom:338.351990px;}
.y22{bottom:340.115421px;}
.y52{bottom:340.479858px;}
.y3a{bottom:343.206337px;}
.y5e{bottom:347.952011px;}
.y48{bottom:348.092628px;}
.y6{bottom:353.829857px;}
.y32{bottom:354.619041px;}
.y11{bottom:357.429777px;}
.yc{bottom:357.429853px;}
.y21{bottom:359.315423px;}
.y51{bottom:362.079857px;}
.y39{bottom:364.806335px;}
.y5d{bottom:369.552017px;}
.y5{bottom:375.429853px;}
.y1c{bottom:381.552002px;}
.y50{bottom:383.679853px;}
.y38{bottom:386.406334px;}
.y5c{bottom:391.152016px;}
.y31{bottom:397.819038px;}
.y37{bottom:408.006332px;}
.y5b{bottom:412.752014px;}
.y1b{bottom:424.751999px;}
.y3b{bottom:439.748459px;}
.y30{bottom:441.019041px;}
.y4{bottom:447.387325px;}
.y5a{bottom:455.952011px;}
.y1a{bottom:467.951996px;}
.y36{bottom:477.552002px;}
.h9{height:50.027344px;}
.h8{height:52.417969px;}
.h7{height:53.472656px;}
.h6{height:53.874023px;}
.ha{height:54.000000px;}
.h2{height:58.164062px;}
.h5{height:59.698242px;}
.h4{height:72.705078px;}
.h3{height:98.878906px;}
.h1{height:157.042969px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x13{left:37.200012px;}
.x7{left:43.200012px;}
.x4{left:49.199997px;}
.xa{left:50.973877px;}
.xc{left:65.700012px;}
.x8{left:70.200012px;}
.xb{left:71.700012px;}
.x5{left:76.200012px;}
.xe{left:79.200012px;}
.x11{left:81.939301px;}
.x1{left:91.200012px;}
.x2{left:97.200012px;}
.xf{left:101.700012px;}
.x12{left:104.439301px;}
.x10{left:118.200165px;}
.x9{left:121.200012px;}
.x6{left:259.026382px;}
.xd{left:305.759781px;}
.x3{left:324.453140px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.802500pt;}
._3{width:3.261504pt;}
._2{width:5.063841pt;}
._4{width:85.466667pt;}
._0{width:105.733333pt;}
.fs6{font-size:96.000000pt;}
.fs5{font-size:98.666667pt;}
.fs1{font-size:106.666667pt;}
.fs4{font-size:109.333333pt;}
.fs3{font-size:133.333333pt;}
.fs2{font-size:181.333333pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y28{bottom:52.735992pt;}
.y42{bottom:87.185964pt;}
.y68{bottom:89.535909pt;}
.y19{bottom:108.735992pt;}
.y41{bottom:115.985962pt;}
.y67{bottom:118.335917pt;}
.y2f{bottom:129.756866pt;}
.y40{bottom:144.785960pt;}
.y66{bottom:147.135925pt;}
.y4f{bottom:152.003723pt;}
.y4e{bottom:180.803724pt;}
.y25{bottom:187.135997pt;}
.y2e{bottom:189.244186pt;}
.y18{bottom:191.935994pt;}
.y59{bottom:194.773214pt;}
.y43{bottom:199.792496pt;}
.y65{bottom:204.735942pt;}
.y24{bottom:215.935994pt;}
.y2d{bottom:218.044187pt;}
.y17{bottom:220.736003pt;}
.y58{bottom:223.573201pt;}
.y2{bottom:228.573138pt;}
.y2c{bottom:237.462921pt;}
.y23{bottom:244.735992pt;}
.y16{bottom:249.536001pt;}
.y3f{bottom:250.517553pt;}
.y47{bottom:251.862928pt;}
.y57{bottom:252.373189pt;}
.y64{bottom:262.335958pt;}
.y4d{bottom:264.015706pt;}
.y2b{bottom:266.262929pt;}
.y15{bottom:278.335999pt;}
.y56{bottom:281.173177pt;}
.y1{bottom:283.615534pt;}
.y20{bottom:284.735992pt;}
.y63{bottom:291.135966pt;}
.y4c{bottom:293.688772pt;}
.y2a{bottom:295.935994pt;}
.y3e{bottom:297.767512pt;}
.yb{bottom:298.973165pt;}
.y14{bottom:307.135997pt;}
.y62{bottom:319.935974pt;}
.y10{bottom:320.016614pt;}
.y4b{bottom:322.488775pt;}
.y29{bottom:324.735992pt;}
.ya{bottom:327.773153pt;}
.y35{bottom:328.825358pt;}
.y46{bottom:335.862183pt;}
.y13{bottom:335.935994pt;}
.y55{bottom:338.773153pt;}
.y3d{bottom:339.742528pt;}
.y61{bottom:348.735982pt;}
.y4a{bottom:350.415710pt;}
.y9{bottom:356.573151pt;}
.y34{bottom:357.625366pt;}
.y3{bottom:359.294337pt;}
.y45{bottom:364.662181pt;}
.y12{bottom:364.735992pt;}
.y1f{bottom:364.736013pt;}
.y27{bottom:377.288127pt;}
.y49{bottom:379.215711pt;}
.y8{bottom:385.373149pt;}
.yf{bottom:390.173147pt;}
.y3c{bottom:395.742528pt;}
.y54{bottom:396.373149pt;}
.y26{bottom:406.088125pt;}
.y60{bottom:406.335999pt;}
.y33{bottom:415.225382pt;}
.ye{bottom:418.973145pt;}
.y1e{bottom:422.335978pt;}
.y53{bottom:425.173147pt;}
.y5f{bottom:435.136007pt;}
.y7{bottom:442.973145pt;}
.y44{bottom:447.773041pt;}
.yd{bottom:447.773142pt;}
.y1d{bottom:451.135986pt;}
.y22{bottom:453.487228pt;}
.y52{bottom:453.973145pt;}
.y3a{bottom:457.608449pt;}
.y5e{bottom:463.936015pt;}
.y48{bottom:464.123505pt;}
.y6{bottom:471.773142pt;}
.y32{bottom:472.825389pt;}
.y11{bottom:476.573036pt;}
.yc{bottom:476.573138pt;}
.y21{bottom:479.087231pt;}
.y51{bottom:482.773142pt;}
.y39{bottom:486.408447pt;}
.y5d{bottom:492.736023pt;}
.y5{bottom:500.573138pt;}
.y1c{bottom:508.736003pt;}
.y50{bottom:511.573138pt;}
.y38{bottom:515.208445pt;}
.y5c{bottom:521.536021pt;}
.y31{bottom:530.425385pt;}
.y37{bottom:544.008443pt;}
.y5b{bottom:550.336019pt;}
.y1b{bottom:566.335999pt;}
.y3b{bottom:586.331278pt;}
.y30{bottom:588.025388pt;}
.y4{bottom:596.516434pt;}
.y5a{bottom:607.936015pt;}
.y1a{bottom:623.935994pt;}
.y36{bottom:636.736003pt;}
.h9{height:66.703125pt;}
.h8{height:69.890625pt;}
.h7{height:71.296875pt;}
.h6{height:71.832031pt;}
.ha{height:72.000000pt;}
.h2{height:77.552083pt;}
.h5{height:79.597656pt;}
.h4{height:96.940104pt;}
.h3{height:131.838542pt;}
.h1{height:209.390625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x13{left:49.600016pt;}
.x7{left:57.600016pt;}
.x4{left:65.599996pt;}
.xa{left:67.965169pt;}
.xc{left:87.600016pt;}
.x8{left:93.600016pt;}
.xb{left:95.600016pt;}
.x5{left:101.600016pt;}
.xe{left:105.600016pt;}
.x11{left:109.252401pt;}
.x1{left:121.600016pt;}
.x2{left:129.600016pt;}
.xf{left:135.600016pt;}
.x12{left:139.252401pt;}
.x10{left:157.600220pt;}
.x9{left:161.600016pt;}
.x6{left:345.368510pt;}
.xd{left:407.679708pt;}
.x3{left:432.604187pt;}
}
